{% extends 'base.html' %}

{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}
<div class ="closet">

<h1><span>
{{ user.username }}'s Closet
</span></h1>

    <form action="/show_this_category" method = "POST">
        <p id = "selcat">
        <label for="category_to_view">Choose the category you want to see:</label>
            <select id="category_to_view" name ="category_to_view">
                <option value="skirts">Skirts</option>
                <option value="jeans">Jeans</option>
                <option value="dresses">Dresses</option>
                <option value="outerwear">Outerwear</option>
                <option value="shorts">Shorts</option>
                <option value="tops">Tops</option>
                <option value="shoes">Shoes</option>
                <option value="accessories">Accessories</option>
            </select>
        <input type="submit">
    </form>
</p>
<p id = "homepage">
    <a href="/users/{{ user.user_id }}">Return to homepage</a>
</p>
<p id = "submitnew">
    <a href="http://localhost:5000/item_submission">Submit a new item</a>
</p>
<p id = "makeout">
    <a href="/make_an_outfit">Make an outfit</a>
</p>
<p id = "viewout">
    <a href="/view_outfits">View my outfits</a>
</p>
</div>

{% endblock %}


<!-- use this for when i make a link for each individual clothing piece
  <a href="clothing/{{ clothes.clothing_id }}"><img src="{{ clothes.photo }}"></a> -->