{% extends 'base.html' %}

{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}

<p>
{{ user.username }}'s Closet
</p>
<p>
    <form action="/show_this_category" method = "POST">
        <label for="category_to_view">Choose the category you want to see:</label>
            <select id="category_to_view" name ="category_to_view">
                <option value="skirts">Skirts</option>
                <option value="jeans">Jeans</option>
                <option value="dresses">Dresses</option>
                <option value="outerwear">Outerwear</option>
                <option value="shorts">Shorts</option>
                <option value="tops">Tops</option>
                <option value="shoes">Shoes</option>
                <option value="accesories">Accesories</option>
            </select>
        <input type="submit">
    </form>
</p>
<!-- <p>
{% for clothes in user_clothing %}
     <img src="{{ clothes.photo }}" style = "width:200px;height:300px;">
     <p>
     Category: {{clothes.category}}
     <p>
     Season: {{clothes.season}}
     <p>
     Color: {{clothes.color}}
     <p>
     Size: {{clothes.size}}
     <p>
     Description: {{clothes.description}}
    </p>
{% endfor %}
</p> -->
<p>
    <a href="http://localhost:5000/item_submission">Submit a new item</a>
</p>
<p>
    <a href="/make_an_outfit">Make an outfit</a>
</p>

{% endblock %}


<!-- use this for when i make a link for each individual clothing piece
  <a href="clothing/{{ clothes.clothing_id }}"><img src="{{ clothes.photo }}"></a> -->