{% extends 'base.html' %}

{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}


<p>
{{ user.username }}'s Closet
</p>
<h3> Add an item:</h3>
    <form action="/submit_new_item" method = "POST" enctype=multipart/form-data>
        <label for="imageUpload">Select image:</label>
        <input type="file" id="new_item" name="new_item" accept="image/*">
<p>
        <label for="item_category">Choose your item's category:</label>
            <select id="item_category" name ="item_category">
                <option value="skirts">Skirts</option>
                <option value="jeans">Jeans</option>
                <option value="dresses">Dresses</option>
                <option value="outerwear">Outerwear</option>
                <option value="shorts">Shorts</option>
                <option value="tops">Tops</option>
                <option value="shoes">Shoes</option>
                <option value="accessories">Accessories</option>
            </select>
</p>
<p>
        <label for="item_size">Item's size:</label>
            <select id="item_size" name = "item_size">
                <option value="x-small">XS</option>
                <option value="small">S</option>
                <option value="medium">M</option>
                <option value="large">L</option>
                <option value="x-large">XL</option>
            </select>
<p>
<p>
        <label for="item_color">Item's color:</label>

            <select id="item_color" name = "item_color">
                <option value="pink">Pink</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
                <option value="red">Red</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="grey">Grey</option>
                <option value="brown">Brown</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
            </select>
<p>
<p>
        <label for="item_season">Item's season:</label>
            <select id="item_season" name = "item_season">
                <option value="spring/summer">Spring/Summer</option>
                <option value="fall/winter">Fall/Winter</option>
                <option value="all">All</option>

            </select>
<p>
        <!-- <label for="itemDescription">Describe your item:</label>
        <input type="text" id="itemDescription" name="fname"> -->
        Describe your item:
        <br />
        <textarea id = "item_description" name = "item_description" rows = "5" cols = "50"></textarea>
<p>
        <input type="submit">
    </form>


<a href="/closet/{{ user.user_id }}">Return to your closet</a>



{% endblock %}