{% extends 'base.html' %}

{% block head %}

<title> Make an Outfit </title>

<p>
{{ user.username }}'s Closet
</p>
<p>
    <form action="/make_outfit_category" method = "POST">
        <label for="make_outfit_category">Choose the category you want to see:</label>
            <select id="make_outfit_category" name ="make_outfit_category">
                <option value="skirts">Skirts</option>
                <option value="jeans">Jeans</option>
                <option value="dresses">Dresses</option>
                <option value="outerwear">Outerwear</option>
                <option value="shorts">Shorts</option>
                <option value="tops">Tops</option>
                <option value="shoes">Shoes</option>
                <option value="accessories">Accessories</option>
            </select>
        <input type="submit">
    </form>
</p>

<p>
So far you have selected:
</p>


{% if list_of_selected_clothing | length < 1 %}
NONE

{% endif %}

{% if list_of_selected_clothing | length > 0 %}
    {% for item in list_of_selected_clothing %}
        <img src="{{ item.photo }}" style = "width:200px;height:300px;">
    {% endfor %}
{% endif %}









{% endblock %}

{% block body %}

{% endblock %}