{% extends 'base.html' %}


{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}
<div class ="makeouttops">

<h1><span>
{{ user.username }}'s Closet</span>
</h1>



<p>
<form action = "/choose_item_for_outfit" method = "POST">

{% for clothes in user_clothing %}

    {% if clothes.category == "tops" %}
    <p>
        <img src="{{ clothes.photo }}" style = "width:200px;height:300px;">
        <p>
    Choose this item <input type = "radio" id = "{{clothes.clothing_id}}" name = "selected_clothing" value = {{clothes.clothing_id}}>
     <p>
     Category: {{clothes.category}}
     <p>
     Season: {{clothes.season}}
     <p>
     Color: {{clothes.color}}
     <p>
     Size: {{clothes.size}}
     <p>
     Description: {{clothes.description}}
    </p>
    {% endif %}
{% endfor %}
<input type="submit" value="Make Selection"/>
</form>
</p>

<a href="http://localhost:5000/make_an_outfit">Choose another category</a>

{% endblock %}
