{% extends 'base.html' %}

{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}
<div class ="makeoutshoes">

<h1><span>
{{ user.username }}'s Closet</span>
</h1>

<h3><a href="http://localhost:5000/make_an_outfit">Choose another category</a></h3>

<form action = "/choose_item_for_outfit" method = "POST">

{% for clothes in user_clothing %}

    {% if clothes.category == "shoes" %}
        <img src="{{ clothes.photo }}" style = "width:200px;height:300px;">
        <p><span>
    Choose this item <input type = "radio" id = "{{clothes.clothing_id}}" name = "selected_clothing" value = {{clothes.clothing_id}}>
     <p><span>
     Category: {{clothes.category}}
     <p><span>
     Season: {{clothes.season}}
     <p><span>
     Color: {{clothes.color}}
     <p><span>
     Size: {{clothes.size}}
     <p><span>
     Description: {{clothes.description}}
    </p>
    {% endif %}
{% endfor %}
</span>
<input type="submit" value="Make Selection"/>
</form>
</div>


{% endblock %}
