{% extends 'base.html' %}

{% block head %}

<title> Make an Outfit </title>

{% endblock %}

{% block body %}
<div class ="makeoutfit">

<h1><span>
{{ user.username }}'s Closet</span>
</h1>
<p>
<a id = "return" href="/closet/{{ user.user_id }}">Return to your closet</a>
</p>
<p>
    <form action="/make_outfit_category" method = "POST">
        <p><span>
        <label for="make_outfit_category">Choose the category you want to see:</label>
            <select id="make_outfit_category" name ="make_outfit_category">
                <option value="skirts">Skirts</option>
                <option value="jeans">Jeans</option>
                <option value="dresses">Dresses</option>
                <option value="outerwear">Outerwear</option>
                <option value="shorts">Shorts</option>
                <option value="tops">Tops</option>
                <option value="shoes">Shoes</option>
                <option value="accessories">Accessories</option>
            </select>
        <input type="submit" value = "View">
    </form>
</p>

<p><span>
So far you have selected:</span>
</p>

<form action = "/submit_outfit_to_database" method = "POST">
   <p> <span>
{% if list_of_selected_clothing | length < 1 %}
NOTHING

{% endif %}
</span></p>

{% if list_of_selected_clothing | length > 0 %}
    {% for item in list_of_selected_clothing %}
    <span>
        <img src="{{ item.photo }}" style = "width:200px;height:300px;">
    </span>
    {% endfor %}
{% endif %}
<p><span>
<input type = "submit" value = "Save Outfit">
</p>
</form>


{% endblock %}