{% extends 'base.html' %}

{% block head %}

<title>My Closet</title>

{% endblock %}

{% block body %}
<div class ="outshoes">

<h1><span>
{{ user.username }}'s Closet</span>
</h1>

{% for clothes in user_clothing %}
    {% if clothes.category == "shoes" %}
     <img src="{{ clothes.photo }}" style = "width:200px;height:300px;">
     <p><span>
     Category: {{clothes.category}}
     <p><span>
     Season: {{clothes.season}}
     <p><span>
     Color: {{clothes.color}}
     <p><span>
     Size: {{clothes.size}}
     <p><span>
     Description: {{clothes.description}}
    </p><span>
    {% endif %}
{% endfor %}
</span></p>

<a href="/closet/{{ user.user_id }}">Return to your closet</a>


{% endblock %}

