{% extends 'base.html' %}



{% block head %}


<title> Armoire </title>

{% endblock %}

{% block body %}
<div class ="user">

  <h1><span>Welcome {{ user.username }}!</span></h1>

  <p id = "gotocloset">
    Go to my closet:
    <a href="http://localhost:5000/closet/{{ user.user_id }}">Closet</a>
  
  </p>
  <p id = "searchuser"><span>
     Find a user: <form action = "/search_user" method = "POST">
  <p id = "searchbox">
      <input type="text" placeholder="Username..." name="search" id = "search">
      <button type="submit">Search</button>
    </span>
  </p>
    </form>
  </p>


  <p id = "logout">    
    <a href="http://localhost:5000/">Logout</a>
  </p>
</div>

{% endblock %}